[⭐] CSAF Standard

### Description
CSAF, or Common Security Advisory Framework, is a standardized format for documenting and sharing security advisories and vulnerabilities in an automated way. It provides a structured approach to convey crucial information about security issues, including their severity, impact, and recommended mitigation steps for a vendor's product. A vendor can also be an open-source project.

#### Challenge Description
Title: The new challenge _Inform the shop about a remediation option for the known vulnerability CVE-2020-15084_
Description: The Juice Shop is vulnerable to a known vulnerability in a library, and an advisory has been provided that the Juice Shop is _known affected_. A fix has not yet appeared. Ask the Juice Shop, including the CVE, when it will be mitigated.

A second advisory will be given about a fixed vulnerability to avoid making it too easy.

### Expected difficulty

| :heavy_check_mark: / :x: | Difficulty                           |
|:------------------------:|:-------------------------------------|
|     :x:      | :star:                              |
|                   :heavy_check_mark:      | :star::star:                        |
|     :grey_question:      | :star::star::star:                  |
|     :x:      | :star::star::star::star:            |
|     :x:      | :star::star::star::star::star:      |
|     :x:      | :star::star::star::star::star::star: |

### Possible attack flow

- Go to the FTP folder [http://localhost:3000/ftp/](http://localhost:3000/ftp/)
- Identify that _CSAF-2020-15084.json.bak_ and _CSAF-XXX-XXX.json.bak_ are advisories
- Download both files with [null byte injection](https://help.owasp-juice.shop/appendix/solutions.html#access-a-developers-forgotten-backup-file)
- Open both files and identify the _known affected_ status in _CSAF-2020-15084.json.bak_
- Post a text like "Juice Shop is known to be affected by _CVE-2020-15084_, when will the patch be applied?"

In the Juice Shop submission, the submission will be tested to contain _CVE-2020-15084_ and one of the following keywords:
- mitigate
- fix
- patch
to confirm the challenge has been performed. This will also match other words like "patched".

### CSAF Document
I recommend using the product id `owasp-juice-shop` for the document.

I am [trying to find out how to link an SBOM within a container](https://lists.oasis-open.org/archives/csaf-comment/202402/msg00004.html), as it looks like as if it was [not documented](https://docs.oasis-open.org/csaf/csaf/v2.0/os/csaf-v2.0-os.html#31335-full-product-name-type---product-identification-helper---sbom-urls)

Nice one! 🚀

The only thing that feels a bit odd is checking for some very generic words plus the CVE# that is already the filename visible in the FTP directory listing. Couldn't we instead write the challenge instructions so that the GitHub security advisory (GHSA#) should be posted? That requires opening the link or the actual file, no?

Also, I don't think `.json.bak` is needed as a suffix, just `.json` should be fine as this is not meant to be an accidental backup file.

What do you think?

GitHub currently does not offer advisories that are compliant to the CSAF standard, as discussed in [this issue](https://github.com/github/advisory-database/issues/1685). However, tools like Trivy do support CSAF.

Github security advisories are too generic as they do not provide the information from the _vendor_.  By taking a look at GHSA, a developers/user can not identify if Juice Shop is affected. CSAF offers that the vendors provides the security information. I wouldn't mix GHSA and CSAF because it might cause confusion.

I suggest the following improvements based on your input.

**Title**: _Inform the Juice Shop About an Old Advisory_  
**Description for the scoreboard**: The Juice Shop is susceptible to a known vulnerability in a library, for which an advisory has already been issued, marking the Juice Shop as _known affected_. A fix is still pending. Please inquire with the Juice Shop, including the [CSAF Tracking ID](https://docs.oasis-open.org/csaf/csaf/v2.0/os/csaf-v2.0-os.html#321124-document-property---tracking---id), about when a mitigation will be implemented.

We can enable access to the advisories as a CSAF "trusted provider."

**New Attack Flow**:
- Navigate to `/security.txt`.
- Use the [CSAF attribute](https://www.iana.org/assignments/security-txt-fields/security-txt-fields.xhtml) to locate `/ftp/provider-metadata.json` (easier to find also without security.txt) OR `/.well-known/csaf/provider-metadata.json` (recommended by CSAF but harder to find).
- Download `/.well-known/csaf/provider-metadata.json`.
- Review the content, for example:
```json
  {
    "canonical_url": "<ORIGIN>/.well-known/csaf/provider-metadata.json",
    "distributions": [
      {
        "rolie": {
          "feeds": [
            {
              "summary": "All TLP:WHITE advisories of OWASP Juice Shop.",
              "tlp_label": "WHITE",
              "url": "<ORIGIN>/.well-known/csaf/feed-tlp-white.json"
            }
          ]
        }
      }
    ],
    "last_updated": "2024-02-30T20:20:56.169Z",
    "list_on_CSAF_aggregators": false,
    "metadata_version": "2.0",
    "mirror_on_CSAF_aggregators": false,
    "public_openpgp_keys": [
      {
        "fingerprint": "XXX",
        "url": "https://XXX"
      }
    ],
    "publisher": {
      "category": "vendor",
      "name": "OWASP Juice Shop",
      "namespace": "/juice-shop/juice-shop"
    },
    "role": "csaf_trusted_provider"
  }
```


- Identify that advisories are stored in location `/.well-known/csaf/` (e.g. because you know the standard or taking a look into the ROLIE document)
- Follow the navigation (e.g. via `/.well-known/csaf/index.txt` and identify that `/.well-known/csaf/2020/juice-shop-sa-20200513-express-jwt.json` and `/.well-known/csaf/2020/juice-shop-sa-20200612-XXX.json` are advisory documents
- Download both files 
- Pretty print both files content (e.g. with _jq_) because white spaces are removed within the files
- Identify the _known affected_ status in _juice-shop-sa-20200513-express-jwt.json_ and the tracking id _juice-shop-sa-20200513-express-jwt_
- Post a text like "Juice Shop is known to be affected by _CVE-2020-15084_, when will the patch be applied as described in CSAF juice-shop-sa-20200513-express-jwt?"

The Juice Shop will test if the submission contains _juice-shop-sa-20200513-express-jwt_.

Hashes/Signatures for the CSAF documents will be provided as well to be a "trusted provider".

From CSAF [documentation](https://docs.oasis-open.org/csaf/csaf/v2.0/os/csaf-v2.0-os.html):
> If this field indicates a web URI, then it MUST begin with "https://" (as per section 2.7.2 of [RFC7230]). See [SECURITY-TXT] for more details.
As the Juice Shop is often started locally with HTTP, we will violate the specification here. To make it configurable to the user, we could generate the /security.txt with a URL from a configuration value (like in the [CSAF provider tool](https://github.com/csaf-poc/csaf_distribution/blob/main/docs/csaf_provider.md)) or based on `req.header('Origin')`. 
The ROLIE URL in _provider-metadata.json_ should also be generated.

In the CSAF document, we will add an acknowledgement summary, that Juice Shop and the CSAF files are used for security training. Furthermore, that the Juice Shop shouldn't be deployed to production environments.

Difficulty (depends slightly on where we put the CSAF files):
| :heavy_check_mark: / :x: | Difficulty                           |
|:------------------------:|:-------------------------------------|
|     :x:      | :star:                              |
|                 :x:   | :star::star:                        |
|       :heavy_check_mark:         | :star::star::star:                  |
|     :x:      | :star::star::star::star:            |
|     :x:      | :star::star::star::star::star:      |
|     :x:      | :star::star::star::star::star::star: |


I like the idea of having this whole challenge play out in the `.well-known/` folder instead of having any part of it in `ftp/`, The FTP folder is already used for so much, and having to find the `security.txt` first (or having a scanner that looks for CSAF-files) is a nice touch. Do we need to bump this to ⭐⭐⭐⭐ then, or is ⭐⭐⭐ still okay? (I lean towards ⭐⭐⭐, but please pick what you think makes more sense.) 

This is amazing! Thank you @wurstbrot @bkimminich ! 

I really love the suggestion of having the user/player/student having to find the `.well-known/security.txt` . Then the user can go to `.well-known/csaf/provider-metadata.json` and obtain the information about security advisories.  This is an example from [Siemens](https://cert-portal.siemens.com/productcert/csaf/provider-metadata.json) and this is another from [Cisco](https://www.cisco.com/.well-known/csaf/provider-metadata.json).

I think that ⭐⭐⭐ should be fine. 

An additional option could be for the user to verify the advisory using the SHA checksum `json.sha512` and/or `json.asc`.


@santosomar 
Do you see a way to check that a Juice Shop user has performed the validation?

> @santosomar 
> Do you see a way to check that a Juice Shop user has performed the validation?

We could ask for the checksum (in)directly in the challenge description and check if it's submitted with the feedback to report the problem, like "Submit a suitable checksum as proof that you did your due diligence."



What about a code challenge with wrong/correct commands to verify?

@santosomar 
I couldn't find a documentation about the amount of keys. Is it possible to have multiple, e.g. for rolling keys with a period in which both are allowed? Example:
```
  "public_openpgp_keys": [
    {
      "fingerprint": "19c01cb7157e4645e9e2c863062a85a8cbfbdcda",
      "url": "https://keybase.io/bkimminich/pgp_keys.asc?fingerprint=19c01cb7157e4645e9e2c863062a85a8cbfbdcda"
    },
    {
      "fingerprint": "2372B2B12AEA7AE3001BB3FBD08FB16E2029D870",
      "url": "https://keybase.io/wurstbrot/pgp_keys.asc"
    }
  ],
```
There is only once place in [documentation](https://docs.oasis-open.org/csaf/csaf/v2.0/os/csaf-v2.0-os.html#717-requirement-7-provider-metadatajson) mentioning `public_openpgp_keys`. `public_openpgp_keys` is an array.

Sorry for the delay. Yes indeed. You could have multiple keys as you saw in the Siemens example. This is also good feedback to the CSAF TC to include in our faq and guidance documents.

@santosomar I created an [issue](https://github.com/oasis-tcs/csaf/issues/709).

Siemens as well as Cisco are stating to be a `csaf_provider`. Why not a `csaf_trusted_provider`?

Thank you so much for opening the issue at the CSAF TC repo.

To answer your question, I can only speak for Cisco.  Very relevant to this conversation and feature (one of the reasons I also suggested it 😆). Cisco is working on some final minor tweaks on a few signature related issues in the publication process. They are expected to become a "[trusted provider](https://docs.oasis-open.org/csaf/csaf/v2.0/os/csaf-v2.0-os.html#7120-requirement-20-public-openpgp-key) in just a few weeks. 

As a side note and for the benefit of everyone reading this issue, you can also see some examples of open source CSAF validation tools at https://csaf.io and also an example of a CSAF provider at https://github.com/csaf-poc/csaf_distribution/blob/main/docs/csaf_provider.md

Many other companies are also adopting CSAF at a very rapid pace nowadays. RedHat, Oracle, CISA, Nozomi, Open Exchange, and Sick.com are other examples. 

Thank you again for all your time, help, and amazing contributions!


@santosomar It would be very nice if you check the CSAF documents in the [PR](https://github.com/juice-shop/juice-shop/pull/2205). 

I also think that a [CSAF document](https://github.com/juice-shop/juice-shop/pull/2205/files#diff-bce7d409137cfb8c1a77541bab182e1f49f97dc3a2e90def1b2735e9822a5e77) for an application with intentional vulnerabilities might be something new, also for the CSAF standard.

how to solve this problem ? 

>>
Security Advisory



how to solve this problem ?

Security Advisory

I copied it the same way as above, but I don't get stars.

Hi @yeajun001 ,

thank you for your request. What did you submit? You can also send me a message in owasp slack.